@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  flex-grow: 1;
}

header #about-us-link-container {
  right: 0;
  position: absolute;
}

header #home-container {
  left: 0;
  position: absolute;
  margin-left: 2em;
}

header a {
  color: #fff;
  text-decoration: none;
}

#app-title {
  display: inline-block;
}

#app-title.editable {
  border-bottom: 2px dashed #ccc;
}

#about-us-link-container {
  margin-right: 2em;
}

#about-us-link:hover {
  text-decoration: underline;
}

main {
  padding: 5em 2.5em;
}

#task-form, #task-list {
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

label {
  font-weight: bold;
}

input, textarea, select, select option {
  border-radius: 5px;
  padding: 10px;
  font-family: 'Fira Code', sans-serif;
}

textarea {
  resize: none;
}

h1 {
  cursor: default;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: .9;
  transition: .2s ease;
}

.task {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.completed {
  background-color: #e0e0e0;
  text-decoration: line-through;
}

@media screen and (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }

  button {
    width: 100%;
    margin-top: 5px;
  }

  #filter-tabs {
    display: flex;
  }

  form#color-form {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.task form {
  margin-top: 10px;
}

main {
  background-color: #f4f4f4;
  border-radius: 10px;
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
}

footer a, .return-button a {
    color: #fff; 
    text-decoration: none;
}

.return-button {
    display: flex;
    justify-content: center;
}

#filter-tabs {
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #555;
}

:root {
  --header-color: #333333;
  --footer-color: #333333;
  --button-bg-color: #333333;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-color);
}

footer {
  background-color: var(--footer-color);
}

main {
  background-color: var(--secondary-bg-color);
}

button {
  background-color: var(--button-bg-color);
}

#color-form {
  transition: opacity 0.3s ease, max-height 0.3s ease;
  max-height: 500px;
  overflow: hidden;
  opacity: 1;
  margin-top: 1em;
}

#color-form.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

form#color-form  {
  display: block;
}

#color-form .col {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
}

input[type=color] {
  padding: 0;
  width: 8em
}

.team-member {
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 1em;
  display: flex;
  overflow: hidden;
}

.team-member img {
  height: auto;
  width: 20em;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.team-member-desc {
  background-color: #f5f5f5;
  padding: 1em;
  position: relative;
  flex: 1;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: 25em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .team-member {
    flex-direction: column;
  }

  .team-member img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal p {
  margin-bottom: 10px;
}

.modal.success {
  background-color: rgba(0, 128, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal.success button {
  background-color: #fff;
  color: green;
  border: 1px solid green;
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.modal.success button:hover {
  background-color: green;
  color: #fff;
}

.modal.danger {
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal.danger button {
  background-color: #fff;
  color: red;
  border: 1px solid red;
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.modal.danger button:hover {
  background-color: red;
  color: #fff;
}
